:root {
    --UMRed: #B20E1E;
    --Yellow: #F9B300;
    --LGray: #e7e7e7;
    --White: #FFFFFF;
    --Charcoal: #1A1A1A;
    --DGray: #444444;
    --LSilver: #DADADA;
    --DMaroon: #700A0D;
    --Olive: #3A682A;
}

html {
    font-family: 'Montserrat', "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    margin: 0;
    overflow-x: hidden;
    background: var(--LGray);
    color: var(--Charcoal);
    font-size: 1.125vw;
}

main {
    /* padding: 3vh 2vw; */
    display: flex;
    flex-direction: row;
    gap: 2vw;
    min-height: 94vh;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 3vh;
    height: calc(100vh - 6vh); 
    margin: 3vh 0 3vh 2vw;
    border: 0.15vw solid var(--LSilver);
    border-radius: 0.75vw;
    overflow-y: auto; 
}

a {
    text-decoration: none;
    color: inherit;
}

aside #top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 3vh 2vw;
    background: var(--UMRed);
    color: var(--White);
}

aside #bot {
    flex: 1;
    padding: 5vh 3vw;
    background-color: var(--White);
}

aside #top img {
    width: 35%;
}

aside nav {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    font-weight: 500;
}

section#mainContent {
    flex: 3;
}

section#mainContent > h2 {
    margin: 0;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--UMRed);
    color: var(--White);
}

.indent {
    padding-left: 2vw;
}