#mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#mainContent img {
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
#mainContent > div {
    display: flex;
    gap: 25px;
    margin: 50px 25px 25px 25px;
}
#mainContent > span {
    font-weight: 700;
}
#mainContent > div > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#mainContent > div > div > div {
    background-color: #B20E1E;
    border-radius: 25px;
    padding: 25px;
    width: calc(100vw * 0.3);
}
#mainContent > div > div > div:not(:first-child) > span {
    display: block;
    font-size: 20px;
}
#mainContent > div > div > div:first-child {
    align-items: center;
    display: flex;
    gap: 25px;
}
#mainContent > div span, #mainContent a {
    color: #FFFFFF;
}
#mainContent a {
    transition: font-weight 0.25s ease;
}
#mainContent a:hover {
    font-weight: 700;
}