#mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#mainContent > span {
    font-weight: 700;
    font-size: 1.25rem;
}
#mainContent > div {
    margin: 0.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
}
#mainContent h3, #mainContent div > span {
    text-transform: uppercase;
}
#mainContent div > span {
    color: var(--White);
}
#mainContent a {
    font-weight: 700;
    font-size: 1rem;
}
#mainContent div span {
    font-weight: 700;
    font-size: 0.8rem;
}
#mainContent > div > div {
    background-color: var(--UMRed);
    padding: 3vh 1.5vw;
    width: calc(100vw * 0.3);
}
#mainContent > div > div > a {
    display: block;
    color: var(--White);
}