section#mainContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50vh; 
    grid-auto-flow: dense;
}

.photo {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.25s ease-in-out;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
}

.photoText {
    position: absolute;
    color: var(--White);
    width: 100%;
    text-align: center;
    text-shadow: 0 0 10px var(--Charcoal);
    background: linear-gradient(0deg, var(--Charcoal), rgba(0, 0, 0, 0.75), transparent);
    transform: translateY(100%);
    transition: all 0.25s ease-in-out;
}

.photo:hover .photoText {
    transform: translateY(0);
}

.photo.large {
    grid-column: span 2;
    grid-row: span 2;
}

.photo.wide {
    grid-column: span 2;
}

.photo.tall {
    grid-row: span 2;
}

@media only screen and (max-width: 500px) {
    section#mainContent {
        grid-auto-rows: 25vh;
    }
}