section#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.carousel {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--UMRed);
    color: var(--White);
}

.carousel h3 {
    margin: 3vh 0;
    padding: 0 4vw;
    font-size: 3rem;
}

.carousel p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}