section#mainContent {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
}

section#mainContent > * {
    width: 65vw;
}

section#mainContent > #topContent {
    height: 10vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

section#mainContent > #botContent {
    height: 10vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

section#mainContent > #midContent {
    position: relative;
    height: 60vh;     
    margin-right: 2vw;
    overflow: hidden;  
}

#projectSlider {
    display: flex;
    flex-direction: column;
    transition: transform 0.25s ease-in-out;
}

.project {
    height: 60vh;
    display: flex;
    flex-flow: row;
    border-radius: 0.75vw;
    background: var(--White);
    overflow: hidden;
}

.project > #projectImg {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project > #projectImg > img {
    height: 110%;
}

.project > #projectDesc {
    padding: 0 2vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 2vw var(--Charcoal) inset;
    text-align: justify;
}

.project > #projectDesc > h2 {
    color: var(--UMRed);
}

#upButton, #downButton {
    all: unset;
    margin: 0 5vw;
}

#upButton > *, #downButton > * {
    transform: scale(4);
}

#upButton:hover, #downButton:hover {
    cursor: pointer;
}